body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: linear-gradient(100deg, gray, #fff, gray,gray );
    background-size: 400% 400%;
}
#tab {
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
}

td {
    color: aliceblue;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
#rejouer{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    background: linear-gradient(10deg, #fff, #000, #000, #fff);
}
#rejouer:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(10deg, #000, #fff, #fff, #000);
}

h1 {
    font-size: 36px; /* Taille de la police */
    color: #293849; /* Couleur du texte (bleu vif) */
    margin-bottom: 20px; /* Marge en bas pour l'espacement */
    text-align: center; /* Alignement centré */
    text-transform: uppercase; /* Texte en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres */
  }
  