body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: linear-gradient(100deg, gold, #000, #fff, #000);
    background-size: 400% 400%;
}
#tab {
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
}

td {
    color: aliceblue;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
#rejouer{
    background-color: rgb(234, 234, 234);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
    color: rgb(145, 255, 0);
    border-radius: 20px;
    background: linear-gradient(10deg, #ffffff, #000, #000, #fff);


}